{% extends 'base.html' %}
{% block title %}Filmes{% endblock %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %}class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<section>
    <table id="table">
        <thead>
            <tr>
                <th>
                    <input type="text" id="search" onkeyup="searchFilm()" placeholder="Pesquisar por nome...">
                </th>
                <th><a class="edit" href="{% url 'films-create' %}">Cadastrar</a></th>
            </tr>
            <tr class="table-header">
                <th onclick="sortTable(0)">Nome</th>
                <th onclick="sortTable(1)">Ano</th>
                <th onclick="sortTable(2)">Status</th>
                <th onclick="sortTable(3)">Usuário</th>
            </tr>
        </thead>
        <tbody>
            {% for filme in object_list %}
            <tr>
                <td>{{ filme.nome }}</td>
                <td>{{ filme.ano }}</td>
                {% if filme.status %}
                <td>Assistido</td>
                {% else %}
                <td>Não Assistido.</td>
                {% endif %}
                <td>{{ filme.usuario }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Nenhum filme cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}